.footer {
    padding: 20px 0;

    &__items {
        display: flex;
        justify-content: center;

        img {
            height: 50px;
        }

        p {
            padding-left: 20px;
            margin: 0;
            line-height: 50px;
            font-size: 14px;
        }
    }
}
