footer.footer
    .container
        .row
            .col-xs-24
                .footer__items
                    img(src="/images/logo-mindhub.png")
                    p
                        | &copy; 2018. Todos los derechos reservados
